*{
    margin: 0;
    padding: 0;
}

/*/////////// Elements Tags Styles ///////////*/

body {
    font-family: "Poppins", sans-serif;
}

h3{
    font-weight: 800;
}

p{
    font-size: 0.7rem;
    font-weight: 300;
    color: #777777;
}

h6{
    font-size: 0.9rem;
    font-weight: 800;
}

/*/////////// Classes Styling ///////////*/

.navbar {
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.nav-item a{
    margin-left: 15px;
    font-weight:600;
    font-size: 0.8rem;
    color: #222;
}

.nav-item :hover{
    color:#42d1ff;
}

.dropdown-menu  {
    border-radius: 0;
    border: none;
    padding-right: 15px;
}

.dropdown-item {
    font-size: 0.8rem;
    font-weight: 600;
}

.dropdown-item :hover{
    color: #42d1ff;
    
}

.dropdown-menu :hover{
    background-color: white;
}

/*/////////// Home Page  ///////////*/

.Home_Div {
    padding: 145px 0;
    background-image: linear-gradient(to right, #3ea7ff, #42d1ff);
}

.Home_Row_Div {
    width: 70%;
    margin: auto;
}

.HomeDiv_text {
    padding-top: 60px;
}


.HomeDiv_text h1{
    font-weight: 900;
    color: white;
    font-size: 3rem;
}

.HomeDiv_text p{
    margin: 20px 0;
    color: white;
    width: 99%;
}

.HomeButtton {
    font-size: 0.7rem;
    font-weight:900;
    padding: 6px 29px;
    background-color: white;
    box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 10%);
}

.HomeDiv_text .HomeButtton:hover{
    background-color:#3ea7ff;
    color: white;
    border: 1px solid white;
}


/*/////////// Category Div ///////////*/

.CatergoryDiv {
    padding: 80px 0 90px 0;
}

.CatergoryDiv h3{
    font-weight: 800;
}

.Category_row_col1 p{
    width: 60%;
    margin: auto;
}

.Category_Row_Div {
    width: 70%;
    margin: auto;
    text-align: center;
}

.Category_row_col2 {
    padding-top: 70px ;
}

.Category_row_col2 i{
    border: 1px solid rgb(189, 188, 188);
    padding: 15px;
    border-radius: 100%;
    font-size: 1.5rem;
    color: rgb(189, 188, 188);
}

.Category_icon:hover{
    color: white;
    background-image: linear-gradient(to right, #3ea7ff, #42d1ff);
}

.Icon {
    font-size: 2rem;
    color: lightgrey;
}

.Category_row_col2 h6{
    font-weight: 800;
    padding: 30px 0 10px 0;
    font-size: 0.9rem;
}

.Category_row_col2 p{
    width: 80%;
    margin: auto;
}

/*/////////// Interior Section ///////////*/

.Interior_Section {
    background-color: #f9f9ff;
    padding: 90px 0 90px 0;
}

.Interior_row_div {
    width: 70%;
    margin: auto;
}

.Interior_row_col1 {
    text-align: left;
    padding-top: 40px;
}

.Interior_heading {
    width: 70%;
}

.Interior_paragraph {
    margin: 15px 0 25px 0;
    width: 95%;
}

.Interior_button {
    font-size: 0.6rem;
    padding: 8px 30px;
    font-weight: 600;
    background-image: linear-gradient(to right, #3ea7ff, #42d1ff);
    color: white;
}

.Interior_Section .Interior_button:hover {
    background-image: linear-gradient(to right, white, white);
    color: black;
    border: 1px solid black;
    box-shadow: 0 10px 15px 3px rgb(196, 194, 194);
}

.Interior_row_col2 img{
    height: 380px;
}

.Interior_row_col2 {
    padding: 0;
}


/*/////////// Feature Section ///////////*/

.Feature_section {
    padding: 80px 0 90px 0;
}

.Feature_row_div {
    width: 70%;
    margin: auto;
    text-align: center;
}

.Features_column {
    padding: 30px 0 20px 0;
    width: 31%;
    margin: 20px auto 0;
    background-color:#f9f9ff;
}

.Features_column:hover{
    background-image: linear-gradient(to right, #3ea7ff, #42d1ff);
    color: white;
    box-shadow: 1px 10px 15px 3px rgb(211, 208, 208);
}

.Feature_paragraph {
    padding-bottom: 20px;
}

.features {
    margin-top: 20px;
}


/*/////////// Video Section ///////////*/

.Video_Section {
    background-image: url('./Images/video-bg.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 370px;
}

.Opacity_div {
    padding: 140px 0 23px 0;
    background-color: #42d1ff;
    opacity: 0.5;
}

.Video_row_div
{
    width: 60%;
    margin: auto;
}

.Video_row_col1 {
    text-align: center;
    
}

.Video_paragraph {
    font-size: 0.7rem;
    
}

.Video_heading {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 4px;
    
}

.Video_row_col2 {
    margin-top: 90px;
    text-align: right;
    padding-right: 40px;
    color: white;
    
}

/*/////////// Slider Section ///////////*/

.Slider_Section{
    padding: 100px 0 100px 0;
}

.Slider_row_div {
    width: 70%;
    margin: auto;
}

.Slider_row_col1{
    text-align: center;
}

.Slider_paragraph {
    padding-bottom: 40px;
}

.Slider_row_col2 img{
    height: 500px;
    margin-left: 10px;
}


.Slider_row_col2 img:hover{
    opacity: 0.5;
}

/*/////////// Pricing Section ///////////*/

.Pricing_Section {
    padding: 90px 0 90px 0;
    background-color: #f9f9ff;
}

.Pricing_row_div {
    width: 70%;
    margin: auto; 
    justify-content: space-evenly;
}

.Pricing_row_col1 {
    text-align: center;
}

.Pricing_paragraph {
    padding-bottom: 40px;
}

.Pricing_row_col2{
    width: 32%;
}


.card-header {
    background-color: white;
    height: 100px;
}

.card-body {
    background-color: white;
    height: 100px;
}

.card-body p{
    margin-top: 10px;
}


.card-footer {
    background-color: white;
    height: 250px;
}

.Pricing_card_heading {
    margin: 25px 0 0 0;
    margin-left: 10px;
}

.Pricing_row_col2 p{
    margin-left: 10px;
}

.Pricing_card_price {
    position: absolute;
    top: 30px;
    right: 28px;
}

.card-header {
    position: relative;
}

.Price_button{
    font-size: 0.6rem;
    font-weight: 500;
    padding-right: 25px;
    padding-left: 25px;
    margin: 10px 0 10px 10px;
}

/*/////////// Pricing Hover States ///////////*/


.card:hover .card-body {
    background-image: linear-gradient(to right, #3ea7ff, #42d1ff);
    box-shadow: 5px 10px 8px rgb(211, 208, 208);
}

.card:hover .card-body p{
    color: white;
}

.card:hover .card-footer{
    background-image: linear-gradient(to right, #3ea7ff, #42d1ff);
    border-color:white ;
    box-shadow: 5px 10px 8px rgb(211, 208, 208);
}

.card:hover .card-footer p{
    color: white;
}

.card:hover .Price_button {
    background-color: white;
    color: black;
    border-style: none;
}

.card .Price_button:hover {
    border: 1px solid black;
}

/* ///////////FAQ Section ///////////*/

.FAQ_Section {
    padding: 90px 0 100px 0;
}

.FAQ_row_div {
    width: 70%;
    margin: auto;
}

.FAQ_row_col1 {
    text-align: center;
}

.FAQ_paragraph {
    padding-bottom: 40px;
}

.FAQ_row_col2 {
    text-align: right;
    padding-right: 80px;
}

.FAQ_row_col2 h1{
    font-size: 2.3rem;
    font-weight:900;
    margin: 0;
    color: #42d1ff;
}

.FAQ_row_col3 p{
    font-size: 0.8rem;
    margin: 15px 0;
    width: 75%;
}

/* ///////////Download section ///////////*/

.Download_Section {
    padding: 80px 0;
    background-image: linear-gradient(to right, #3ea7ff, #42d1ff);
}

.Download_row_div {
    width: 70%;
    margin: auto;
    text-align: center;
}

.Download_row_col2 {
    display: flex;
    justify-content: center;
}

.Download_paragraph {
    padding: 20px 0 30px 0;
    width: 97%;
    color: white;
}

.Download_heading {
    color: white;
}

.Download_button{
    border-radius: 0;
    padding: 12px 22px;
    margin: 0 15px;
}

.Download_Section .Download_button:hover{
    background-color: transparent;
    border: 1px solid white;
}

.Download_button:hover i{
    color: white;
}

.Download_button:hover a p{
    color: white;
}

.Download_button a {
    float: right;
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.Download_btn_Heading {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.Download_btn_paragraph{
    font-size: 0.7rem;
    margin-right: 20px;
    margin-bottom: 0;
}

.Download_text_div {
    padding-left: 13px;
}

.Download_icon {
    font-size: 1.8rem;
    color: #42d1ff;
    margin-top: 5px;
}

.Andriod_icon {
    font-size: 1.4rem;
    color: #42d1ff;
    margin-top: 5px;
}

/* ///////////Contact Section ///////////*/

.Contact_Section {
    background-color: #222222;
    padding: 80px 0 90px 0;
}

.Contact_row_div h6{
    margin-bottom: 15px;
    color: white;
}

.Contact_row_div {
    width: 70%;
    margin: auto;
}

.contact_row_col1 a{
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 300;
    color: white;
    display: block;
    margin: 7px 0 7px 0;
}

.Contact_paragraph {
    margin-bottom: 15px;
    color: white;
}

.Contact_Email{
    border-radius: 20px;
    font-size: 0.7rem;
    padding: 8px 130px 8px 15px;
    border-style: none;
}

.Contact_button {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 8px 23px;
    border-radius: 20px;
    margin-left: 20px;
    background-image: linear-gradient(to right, #3ea7ff, #42d1ff);
    color: white;
}

.Contact_Section .Contact_button:hover{
    background-image: linear-gradient(to right, #3ea7ff, #42d1ff);
    color: white;
}

.Contact_button:hover i{
    padding-left: 5px;
}

.contact_row_col3 {
    padding: 0;
}

.Contact_Images {
    height: 50px;
    margin: 0 0 6px 3px;
}

.Contact_row_col4 {
    font-size: 0.7rem;
    padding-top: 55px;
}

.Contact_row_col4 p{
    color: white;
}

.Contact_row_col4 a{
    text-decoration: none;
    color:#42d1ff;
}

.Contact_row_col4 i{
    color: #42d1ff;
}

.Contact_row_col5 {
    padding-top: 55px;
    text-align: right;
}

.Contact_icons {
    padding: 9px 12px;
    font-size: 0.7rem;
    background-color: #141313;
    color: white;
}

.facebook_icon{
    padding: 0 2px;
}

.Contact_icons:hover{
    background-image: linear-gradient(to right, #3ea7ff, #42d1ff);
    color: white;
}