*{
    margin: 0;
    padding: 0;
}

.navbar {
    justify-content: space-evenly;
}


.nav-item {
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight:bold;
    color: black ;
}

/* Home Page  */

.Home_Div {
    height: 800px;
}

.Home_Row_Div {
    width: 60%;
    margin: auto;
    padding-top: 240px;
}

.HomeDiv_text {
    padding-top: 60px;
}


.HomeDiv_text h1{
    font-weight: 900;
    color: white;
}

.HomeDiv_text p{
    font-size: 0.7rem;
    margin: 20px 0;
    color: white;
}

.HomeButtton {
    font-size: 0.6rem;
    font-weight:bold;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}


/* Category Div */

.CatergoryDiv {
    padding: 80px 0;
}

.CatergoryDiv h4{
    font-weight: bold;
    font-size: 1.6rem;
}

.Category_row_col1 p{
    font-size: 0.7rem;
    width: 60%;
    margin: auto;
}

.Category_Row_Div {
    width: 60%;
    margin: auto;
    text-align: center;
}

.Category_row_col2 {
    padding-top: 60px ;
}

.Category_row_col2 i{
    border: 1px solid rgb(189, 188, 188);
    padding: 13px;
    border-radius: 100%;
    font-size: 1.2rem;
    color: rgb(189, 188, 188);
}

.Icon {
    font-size: 2rem;
    color: lightgrey;
}

.Category_row_col2 h6{
    font-weight: bold;
    padding: 30px 0 10px 0;
}

.Category_row_col2 p{
    font-size: 0.7rem;
}

/* Interior Section */

.Interior_Section {
    padding: 90px 0;
}

.Interior_row_div {
    width: 60%;
    margin: auto;
}

.Interior_row_col1 {
    text-align: left;
    padding-top: 40px;
}

.Interior_heading {
    font-weight: bold;
    font-size: 1.6rem;
    width: 70%;
}

.Interior_paragraph {
    font-size: 0.7rem;
    margin: 15px 0 25px 0;
}

.Interior_button {
    font-size: 0.6rem;
    padding: 8px 30px;
    font-weight: 600;
}

.Interior_row_col2 img{
    height: 350px;
}

.Interior_row_col2 {
    padding: 0;
}


/* Feature Section */

.Feature_section {
    padding: 90px 0 80px 0;
}

.Feature_row_div {
    width: 60%;
    margin: auto;
    text-align: center;
}

.Features_column {
    padding: 25px 0 15px 0;
    margin: 20px 0 0 20px;
    width: 30%;
}

.Feature_row_heading {
    font-weight: bold;
    font-size: 1.6rem;
}

.Feature_paragraph {
    font-size: 0.7rem;
    padding-bottom: 20px;
}

.features {
    margin-top: 20px;
    font-weight: bold;
}


/* Video Section */

.Video_Section {
    background-image: url('./Images/video-bg.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 370px;
}

.Opacity_div {
    padding: 140px 0 23px 0;
    background-color: #42d1ff;
    opacity: 0.5;
}

.Video_row_div
{
    width: 60%;
    margin: auto;
}

.Video_row_col1 {
    text-align: center;
    
}

.Video_paragraph {
    font-size: 0.7rem;
    
}

.Video_heading {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 4px;
    
}

.Video_row_col2 {
    margin-top: 90px;
    text-align: right;
    padding-right: 40px;
    color: white;
    
    
}

/* Slider Section */

.Slider_Section{
    padding: 80px 0;
}

.Slider_row_div {
    width: 60%;
    margin: auto;
}

.Slider_row_col1{
    text-align: center;
}

.Slider_heading {
    font-size: 1.6rem;
    font-weight: bold;
}

.Slider_paragraph {
    font-size: 0.7rem;
    padding-bottom: 40px;
}

.Slider_row_col2 img{
    width: 100%;
}

.Slider_row_col2 {
    padding-left: 0;
}

/* Pricing Section */

.Pricing_Section {
    padding: 90px 0 80px 0;
}

.Pricing_row_div {
    width: 60%;
    margin: auto;
    
}

.Pricing_row_col1 {
    text-align: center;
}

.Pricing_heading {
    font-weight: bold;
    font-size: 1.6rem;
}

.Pricing_paragraph {
    font-size: 0.7rem;
    padding-bottom: 40px;
}

.Pricing_row_col2 p{
    font-size: 0.7rem;
}

.card-header {
    background-color: white;
}

.card-body {
    background-color: white;
}

.card-footer {
    background-color: white;
}

.Pricing_card_heading {
    font-weight: bold;
    margin: 15px 0 0 0;
}

.Pricing_card_price {
    font-size: 1.6rem;
    font-weight: bold;
    position: absolute;
    top: 22px;
    right: 25px;
}

.card-header {
    position: relative;
}

.Price_button{
    font-size: 0.6rem;
    font-weight: 500;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 10px;
}


/* FAQ Section */

.FAQ_Section {
    padding: 90px 0 80px 0;
}

.FAQ_row_div {
    width: 60%;
    margin: auto;
}

.FAQ_row_col1 {
    text-align: center;
}

.FAQ_heading {
    font-size: 1.6rem;
    font-weight: bold;
}

.FAQ_paragraph {
    font-size: 0.7rem;
    padding-bottom: 40px;
}

.FAQ_row_col2 {
    text-align: right;
    padding-right: 80px;
}

.FAQ_row_col2 p{
    font-size: 0.7rem;
}

.FAQ_row_col2 h2{
    font-weight:900;
    margin: 0;
    color: rgb(41, 152, 221);
}


.FAQ_row_col3 p{
    font-size: 0.7rem;
    margin: 15px 0;
    width: 75%;
}

.FAQ_row_col3 h6{
    font-weight: bold;
}

/* Download section */

.Download_Section {
    padding: 80px 0 80px 0;
}

.Download_row_div {
    width: 60%;
    margin: auto;
    text-align: center;
    color: white;
}

.Download_row_col2 {
    display: flex;
    justify-content: center;
}

.Download_heading {
    font-size: 1.6rem;
    font-weight: bold;
}

.Download_paragraph {
    font-size: 0.7rem;
    padding: 20px 0 30px 0;
}

.Download_button{
    border-radius: 0;
    padding: 10px 22px;
    margin: 0 15px;
}

.Download_button a {
    float: right;
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.Download_btn_Heading {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.Download_btn_paragraph{
    font-size: 0.7rem;
    margin-right: 20px;
    margin-bottom: 0;
}

.Download_text_div {
    padding-left: 13px;
}

.Download_icon {
    font-size: 1.8rem;
    color: rgb(24, 95, 226);
    margin-top: 5px;
}

.Andriod_icon {
    font-size: 1.4rem;
    color: rgb(24, 95, 226);
    margin-top: 5px;
}

/* Contact Section */

.Contact_Section {
    background-color: #222222;
    padding: 80px 0;
}

.Contact_row_div h6{
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}

.Contact_row_div {
    width: 60%;
    margin: auto;
}

.contact_row_col1 a{
    text-decoration: none;
    font-size: 0.7rem;
    color: white;
    display: block;
    margin: 5px 0 5px 0;
}

.Contact_paragraph {
    font-size: 0.7rem;
    margin-bottom: 10px;
    color: white;
}

.Contact_Email{
    border-radius: 20px;
    font-size: 0.7rem;
    padding: 6px 85px 6px 13px;
    border-style: none;
}

.Contact_button {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 20px;
    margin-left: 20px;
}

.contact_row_col3 {
    padding: 0;

}

.Contact_Images {
    height: 45px;
    margin: 0 2px 6px 0;
    
}

.Contact_row_col4 {
    font-size: 0.7rem;
    padding-top: 55px;
}

.Contact_row_col4 p{
    color: white;
}

.Contact_row_col4 a{
    text-decoration: none;
    color: rgb(42, 186, 235);
}

.Contact_row_col4 i{
    color: rgb(42, 186, 235);
}

.Contact_row_col5 {
    padding-top: 55px;
    text-align: right;
}

.Contact_icons {
    padding: 6px 8px;
    font-size: 0.7rem;
    background-color: #141313;
    color: white;
}

.facebook_icon{
    padding: 0 2px;
}